.main-left-list-sec {
    padding-top: 25px;
    // padding-bottom: 25px;

    .list-sec-scroll-wrapper {

        height: calc(100vh - 165px);

    }
}



.add-list-btn {
    margin-right: 25px;
}



.list-card-item-content {

    .action-button-container {
        margin-right: -10px;

        .action-button {
            color: var(--color-5);

            .mat-icon {
                font-size: 17px !important;

            }
        }
    }

    .status-area {
        margin-top: 0px;
    }
}

.no-data-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.list-card-item {
    position: relative;
}

.load-more-container {
    margin-right: 25px;
    margin-bottom: 1px;
}




// =====================Advance Search==================
.search-wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
    border: 1px solid var(--border-color-dark);
    padding: 15px;
    margin-right: 25px;
    border-radius: 5px;
    position: relative;

    .search-icon {
        margin-right: 10px;
    }

    .search-input {
        flex: 1;

        input {
            border: none;
            font-size: 14px;
        }
    }

    .filter-icon {
        cursor: pointer;
        border: none;
        background-color: transparent;
    }

    .clear-filter {
        margin-right: 20px;
    }

    .filter-panel {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
        background-color: var(--main-bg);
        border: 1px solid var(--border-color-dark);
        box-shadow: rgba(0, 0, 0, 0) 0px 2px 4px, rgba(0, 0, 0, 0.1) 0px 2px 6px;
        padding: 25px 15px 25px 15px;
        z-index: 999;
        max-height: 400px;
        overflow: auto;

        .filter-data {
            margin: 0px 15px 20px 0px;
            display: flex;
            gap: 10px;
            align-items: center;
            flex-wrap: wrap;

            .filter-data-item {
                border: 1px solid var(--primary-color);
                font-size: 11px;
                display: flex;
                align-items: center;
                padding: 5px 10px;
                border-radius: 20px;

                .filter-text {
                    color: var(--primary-link-color);
                    font-weight: 500;
                }

                a {
                    text-align: right;
                    display: flex;
                    width: 20px;
                    height: 20px;
                    padding-top: 2px;
                }
            }

            .material-icons {
                font-size: 16px;
                color: var(--color-4);
            }
        }

        .filter-bottom {
            margin-top: 20px;
        }

        .mdc-text-field {
            width: 100%;
        }

        .mat-check-box-field {
            padding: 7px 0px;
        }

        .input-form-field.mat-mdc-form-field {
            display: block;
            margin-bottom: 0px;
        }

        .filter-bottom {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search-results {
                font-size: 13px;
                padding: 5px 10px;
                font-weight: 500;
            }
        }
    }
}

// =====================Advance Search End==================